# Virtuelle Umgebung
venv/
*.pyc
__pycache__/

# Persönliche Konfigurationsdateien
*.env
.env

# Betriebssystem-Spezifische Dateien
.DS_Store
Thumbs.db

# Uvicorn Log-Dateien
*.log

# Pytest Caches
.pytest_cache/

# Sonstige temporäre Dateien
*.tmp
*.swp
*.bak
*.sav
